{% extends 'aplicacion/index.html' %}


{% block titulo %}
<h2 class="text-white-40 mx-auto mt-2 mb-5">Más Información de Contacto.</h2>

{% endblock titulo %}


{% block contenido %}

<h2>En caso de necesitar ayuda con un problema en especifico puede comunicarse a los siguientes telefonos de atención al cliente, teniendo en cuenta que al ser ajenos al principal que se encuentra en el inicio, pueden demorar más en contestar.</h2>
<br>
<h3>Problemas con el apartado de COMPRADORES: +54 11 56789876</h3>
<h3>Problemas con el apartado de VENDEDORES: +54 11 98765432</h3>
<h3>Problemas con el apartado de PRODUCTOS: +54 11 87654321</h3>

{% endblock contenido %}
    